@{
    ViewBag.Title = "Home Page";
}

@model AjaxTut.Models.UserModel

<div class="row">
    <div class="col-md-8 col-lg-offset-4">
        <h2>Add User</h2>
        <br />
        <span>User Name: </span>@Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })<br />
        <span>Email: </span>@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })<br />
        <span>Password: </span>@Html.TextBoxFor(x => x.Password, new { @class = "form-control" })<br />
        <p><a class="btn btn-default" onclick="SaveUser()">Save</a></p><br /><br /><br />
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-lg-offset-3">
        <h2>New User List</h2><br />
        <table id="UserTable" class="table-striped">
            <tr>
                <th>User Name</th>
                <th>Email ID</th>
                <th>Password</th>
            </tr>
        </table>
    </div>
</div>